.delete {
  transition: .2s opacity ease;
  cursor: pointer;
  border: none;
  background: url("../../images/gallery/delete-btn.svg") no-repeat center center;
  background-size: contain;
  display: inline-block;
}

.delete:hover {
  opacity: .6;
}
